*{
	font-family:"Times New Roman", Times, serif;
	box-sizing:border-box;
}

h1 {
	font-family: Brushstroke, fantasy;
	color: #000000;
	text-align: center;
}

body {
	background-color: #FEF5CA;
}

p {
	padding: 10px;
	margin: 0;
}

.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

section {
	border:	1px solid black;
	background-color: #00FF99;
	width: 100%;
	height: 200px;
	font-family: Helvetica;
	color: black;
	position: relative;
	overflow: auto;
}

#windows {
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: #FFFF00;
}

#linux {
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: #6495ED;
}

#mac {
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	background-color: #FF1439;
	color: white;
	padding: 5px;
}

@media (max-width: 767px){
	.col-sm-12{
		width:100%;
		float:left;
		box-sizing: border-box;

	}
}

@media (min-width:768px) and (max-width: 991px){
	.col-md-6{
		width:50%;
		float:left;
			box-sizing: border-box;
	}
}

@media (min-width: 992px){
	.col-lg-4{
		width:33.33%;
			box-sizing: border-box;

		float:left;
	}
}